// Specific CSS for your home-page
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

.home-card {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.teams-home {
  background-image: image_url("Mercedes-team.jpeg");
}

.pilots-home {
  background-image: image_url("lewis-hamilton-mercedes-1.jpeg");
}

.cars-home {
  background-image: image_url("Mercedes-car.jpeg");
}
