<div class="home-container">
  <div class="teams-home home-card">
    <h1>Teams</h1>
  </div>
  <div class="cars-home home-card">
    <h1>Cars</h1>
  </div>
  <div class="pilots-home home-card">
    <h1>Pilots</h1>
  </div>
</div>
